@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
        <link rel="stylesheet" href="~lib/chartist/chartist.min.css">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <script src="~/lib/chartist/chartist.min.js"></script>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img src="~/images/logo.png" height="30" width="30" />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#CollapseNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar navbar-collapse" id="CollapseNavBar">
                <ul class="navbar-nav">
                    
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item ml-auto">
                            <form method="post" asp-action="logout" asp-controller="account" class="nav-link">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Выйти @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ml-auto">
                            <a asp-action="register" asp-controller="account" class="nav-link">Зарегистрироваться</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a asp-action="login" asp-controller="account" class="nav-link">Войти</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)

        }
    </div>
</body>
</html>
